name: CI

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore tools
        run: dotnet tool restore

      - name: Restore dependencies
        run: dotnet restore
  
      - name: Lint (dotnet format)
        run: dotnet format --verify-no-changes

  tests:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - uses: actions/checkout@v4
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'
  
      - name: Restore
        run: dotnet restore

      - name: Run tests with coverage
        run: dotnet test --collect:"XPlat Code Coverage" --results-directory ./TestResults

      - name: Install ReportGenerator
        run: |
          dotnet tool install --global dotnet-reportgenerator-globaltool --version 5.*

      - name: Update ReportGenerator
        run: dotnet tool update --global dotnet-reportgenerator-globaltool

      - name: Generate coverage report
        run: |
          reportgenerator \
          -reports:TestResults/**/coverage.cobertura.xml \
          -targetdir:coverage-report \
          -reporttypes:HtmlInline_AzurePipelines\;Cobertura

      - name: Generate coverage report (with threshold)
        run: |
          reportgenerator \
            -reports:TestResults/**/coverage.cobertura.xml \
            -targetdir:coverage-report \
            -reporttypes:HtmlInline_AzurePipelines\;Cobertura \
            -assemblyfilters:+MyApi* \
            -classfilters:+MyApi* \
            -linecoverage:60

      - name: Generate coverage report (clean)
        run: |
          reportgenerator \
            -reports:TestResults/**/coverage.cobertura.xml \
            -targetdir:coverage-report \
            -reporttypes:HtmlInline_AzurePipelines\;Cobertura \
            -assemblyfilters:+MyApi* \
            -classfilters:+MyApi*;-MyApi.Api.Program;-MyApi.Api.Migrations* \
            -filefilters:-**/Program.cs;-**/Migrations/*

      - name: Enforce code coverage
        run: |
          reportgenerator \
            -reports:TestResults/**/coverage.cobertura.xml \
            -targetdir:coverage-report \
            -reporttypes:TextSummary \
            -thresholdtypes:Line \
            -thresholdstatistic:Total \
            -thresholds:75 

      - name: Upload coverage report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage
          path: coverage-report
